#stays-main-container {
  display: flex;
  flex-direction: column;
}
.hotel-container {
  display: flex;
  padding: 0px 8%;
  flex-direction: row;
  border: 1px solid black;
}
.filter-container {
  flex: 1;
}
.hotel-data {
  flex: 3;

  .hotel-card {
    max-width: 585px;
    max-height: 180px;
    display: flex;
    border: 1px solid black;
    border-radius: 4px;
    flex-direction: row;

    .hotel-image {
      padding: 8px;
      > div {
        border: 1px solid black;
        width: 160px;
        height: 160px;
        border-radius: 8px;
        overflow: hidden;
      }
      > div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .hotel-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      .hotel-detail-header {
        padding: 8px;
        display: flex;
        flex: 1;
        flex-direction: row;
        /* border: 1px solid gold; */

        .hotel-detail-header-left {
          flex: 3;

          .hotel-location {
            text-decoration: underline;
            font-size: 12px;
          }
        }
        .hotel-detail-header-right {
          flex: 1;
        }
      }

      .hotel-detail-footer {
        display: flex;
        padding: 8px;
        flex: 3;

        .hotel-detail-footer-left {
          flex: 2;

          > p {
            display: flex;
            gap: 4px;
            align-items: center;
            color: rgb(2, 180, 2);
            font-size: 12px;
          }
        }
        .hotel-detail-footer-right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          flex: 1;

          .taxesAndCharges {
            font-size: 10px;
          }

          .availBtn {
            display: flex;
            font-size: 10px;
            align-items: center;
          }
        }
      }
    }
  }
}

#search-container {
  display: flex;
}
