/* Flight Home */
.flight-home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  > div {
    flex: 1;
    position: relative;
  }
}

/* Flight Search Bar */

.flight-searchbar {
  display: flex;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -28px;
  z-index: 999;
  width: 60%;
  margin: auto;
  height: 60px;
  border: 2px solid yellow;
  > div {
    display: flex;
    padding: 4px 16px 4px 4px;
    flex-direction: row;
    align-items: center;
    > input {
      flex: 1;
      border: 0px;
      text-align: start;
      border: none;
      outline: none;
      font-size: 16px;
      text-align: center;
    }
  }
  .searchbar-source {
    flex: 2;
  }
  .searchbar-destination {
    flex: 2;
  }
  .searchbar-date {
    flex: 2;
  }
  .searchbar-search {
    align-items: normal;
    flex: 1;

    padding: 0px;
    > button {
      flex: 1;
      border: 0;
      background-color: rgb(1, 109, 228);
      color: white;
    }
  }
}

/* Flight Result */
.flight-result-main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.flight-result-container {
  padding: 0px 12%;
  margin-top: 48px;
}

/* Flight_Card */
.flight-card:nth-child(even) {
  background-color: rgb(244, 239, 239);
}
.flight-card {
  display: flex;
  /* margin: 18px 0px; */
  border: 2px solid #e7e6e6;

  .flight-card-left {
    display: flex;
    flex: 2;
    padding: 12px;
    border-right: 2px solid #e7e6e6;
    .flight-data-flightId {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      flex: 1;
    }

    .flight-data-path {
      display: flex;
      flex: 3;
      justify-content: center;
      text-align: center;
      font-size: 14px;

      > * {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .flight-data-path-left {
        flex: 1;
      }
      .flight-data-path-middle {
        flex: 2;
      }
      .flight-data-path-right {
        flex: 1;
      }
    }
  }
  .flight-card-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;

    > div {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .flight-card-right-upper {
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      font-size: 12px;
    }
    .flight-card-right-middle {
      flex-direction: column;
      align-items: flex-end;
    }
    .flight-card-right-bottom {
      > button {
        width: 80%;
        font-weight: bold;
        background-color: white;
        border-radius: 4px;
        color: rgb(0, 108, 228);
        border: 1px solid rgb(0, 108, 228);
        padding: 14px;
      }
    }
  }
}

/* Flight Details */
.flight-details-container {
  display: flex;
  justify-content: center;
  > main {
    margin-top: 24px;
    padding: 24px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .flight-details-section {
      display: flex;
      flex-direction: row;
      gap: 120px;
      justify-content: space-between;

      > div {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      > aside {
        text-align: end;
      }
      > button {
        padding: 10px 18px;
      }
    }
  }
}

/* Flight Popular Destinations */
.flight-popular-destination-container {
  margin-top: 44px;
  width: 100%;
  height: auto;
  flex-direction: column;
  display: flex;
  padding: 0px 12%;
  /* z-index: 1; */
  .destination-heading {
    padding: 12px 0px;
  }
  .destination-row-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .row {
    height: 280px;
    display: flex;
    gap: 10px;
    flex-direction: row;
  }
  .destination-image-box {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 4%;
    overflow: hidden;
  }

  .destination-image-box h3 {
    position: absolute;
    color: white;
    font-size: 16px;
    left: 10px;
    top: 10px;
    z-index: 1;
  }
  .destination-image-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    transition: 0.5s all ease-in-out;
  }
  .destination-image-box img:hover {
    transform: scale(1.3);
  }
}
