.hotel-details-container {
  width: 100%;
  padding: 24px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

#hotel-details-header {
  display: flex;
  justify-content: space-between;
}

#hotel-image-div {
  display: flex;
  justify-content: space-evenly;
}
