#date-range-main-container {
  position: relative;
}
#date-input-box {
  position: relative;
}
#date-range-container {
  position: absolute;
  right: -25%;
}
.rdrDefinedRangesWrapper{
    display: none;
}