.navbar-main-container {
  position: relative;
  color: white;
  background-color: rgb(0, 53, 128);
  padding: 0px 12%;
  padding-bottom: 28px;
  width: 100%;
}
.navbar-container {
  width: 100%;
  height: auto;
}
.navbar-header {
  width: 100%;
  flex: 1;
  padding: 12px 0px;
  align-items: center;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  box-sizing: border-box;
  justify-content: space-between;
}
.navlink-container {
  flex: 1;
  padding: 12px 0px;
  display: flex;
  gap: 18px;
  width: 100%;
}
.navlink-container a {
  color: white;
  display: flex;
  gap: 8px;
  text-decoration: none;
  padding: 8px;
}
a div {
  font-size: 16px;
}
a.active {
  border: 2px solid rgb(180, 173, 173);
  border-radius: 24px;
}

#navbar-right-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.menu-main-container{
  position: relative;
  display: inline;
}

.menu-container{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

